/* header */

.header {
    background-color: #c38e70;
    border-bottom: .14rem solid #b27a5a;
}

.navbar {
    background-color: #c38e70;
}

.nav__ul__li__img {
    width: 7rem;
}

.nav-right__ul__li a {
    color: #8a5a44;
    font-size: 1.26rem;
    font-family: "Rubik", sans-serif;
    padding: .1rem;
}

.navbar-links:hover {
    color: #6b4736;
}

/* header */

/* footer */

footer {
    background-color: #c38e70;
    margin-top: 5rem;
}

.footer__p {
    font-family: "Bellota Text", cursive;
}

.footer__img {
    width: 7rem;
}

.fa-brands {
    color: #8a5a44;
}

.fa-brands:hover {
    color: #6b4736;
}

/* footer */

/* estilos-generales */

.index-main, .sn-main, .c-main, .mp-main, .e-main {
    background-color: #c38e70;
}

h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 3.4rem;
    color: #8a5a44;
}

.bellota-p {
    font-family: "Bellota Text", cursive;
}

/* estilos-generales */

/* index */

.index-main__section {
    padding-top: 2rem;
}

.index-section__p {
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem;
    color: #8a5a44;
}

.professionals__section__p {
    color: #c38e70;
    line-height: 1rem;
}

.professionals__section__article--img {
    max-width: 450px;
    height: fit-content;
}

/* index */

/* sn */

.sn-section__h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem;
    color: #8a5a44;
    margin-top: -.5rem;
}

.sn-section__p {
    font-family: "Bellota Text", cursive;
}

.sn-second__section__vision--p, .sn-second__section__mision--p {
    font-family: "Bellota Text", cursive;
}

.sn-second__section__vision--h4, .sn-second__section__mision--h4 {
    font-family: "PT Sans", sans-serif;
    font-size: 2rem;
}

.sn-section__img {
    height: fit-content;
}

/* sn */

/* media-querys */

/* media-querys-header */

@media (min-width: 992px) {
    .nav-right__ul__li {
        margin: 0 .5rem;
    }
}

@media (min-width: 1400px) {
    .nav-right__ul__li a {
        font-size: 1.33rem;
    }

    .nav__ul__li__img {
        width: 7rem;
    }
}

/* media-querys-header */

/* media-querys-index */

@media (min-width: 1400px) {
    .index-main__section {
        padding-top: 6rem;
    }
    
    .index-section__h1 {
        font-size: 3rem;
    }

    .index-section__p {
        font-size: 1.7rem;
    }
}

/* media-querys-index */

/* media-querys-sn */

@media (min-width: 1200px) {
    .sn-main__section__div {
        padding-top: 5rem;
    }
}

/* media-querys-sn */

/* media-querys */