/* colors */
$back-color: #c38e70;
$primary-text-color: #8a5a44;
$hover-color: #6b4736;

/* sizes */
$logo-size: 7rem;
$title-size: 3.4rem;

/* families */
$paragraph-family: "Bellota Text", cursive;
$title-family: "PT Sans", sans-serif;